.about-us__contact-item-btn {
  background: white;
  display: none;
    &::before {
      background-image: url("../img/arrow_right_green.png");
    }
}


.about-us__description {
  text-align: center;
  font-size: 20px;
  color: #6c6c6c;
  width: 270px;
  margin: 0 auto;
}

.about-us__item-description {
  font-size: 20px;
  color: #6c6c6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  span {
    font-size: 36px;
    line-height: 50px;
  }
}

.about-us__list {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
}

.about-us__item {
  margin-bottom: 40px;
}

.about-us__contact-item {
  width: 100%;
  min-height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &--00 {
    background-image: url("../img/about-us_mobile_00.jpg");
  }
}

.about-us__contact-item-description {
  color: white;
  width: 250px;
  text-align: center;
  margin-top: 0;

  &--adress {
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    text-transform: uppercase;
    text-align: left;
  }
}

.about-us__contact-item-request {
  min-height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/about-us_mobile_01.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us__contact-item-title {
  font-size: 22px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  width: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    width: 70px;
    height: 75px;
    display: block;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
  }

  &--selection {
    &::before {
      background-image: url("../img/about-us_icon_00.png");
    }
  }

  &--mortgage{
    &::before {
      background-image: url("../img/about-us_icon_01.png");
    }
  }
}

@media (min-width: 768px) {
  .about-us__description {
    width: 80%;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 50%;
  }

  .about-us__contact-item {
    &:last-child {
      flex-direction: row;
      width: 100%;
    }
  }

  .about-us__contact-item-request {
    width: 50%;
  }
}

@media (min-width: 1170px) {

  .about-us-wrapper {
    background-color: #ebfff3;
    margin-top: -70px;
    padding-bottom: 70px;
  }

  .about-us__title {
    padding-top: 140px;
    width: 40%;
    margin: 0;
  }
  .about-us__description {
    display: block;
    font-size: 20px;
    color: #6c6c6c;
    margin: 0;
    margin-bottom: 40px;
    width: 60%;
    text-align: left;
  }

  .about-us__list {
    max-width: 1170px;
    margin: 0 auto;
    align-items: flex-start;

  }

  .about-us__contact-list {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    margin-top: -70px;
    z-index: 10;
    position: relative;
  }

  .about-us__contact-item {
    min-width: 50%;
    min-height: 250px;
    &:last-child {
      flex-direction: column;
    }
  }
  .about-us__contact-item-request {
    width: 100%;
    align-items: flex-start;
    position: relative;
    min-height: 250px;
  }

  .about-us__contact-item-title {
    text-align: left;
    margin-left: 150px;
    position: relative;
    &::before {
      position: absolute;
      left: -100px;
      top: -20px;
    }
  }

  .about-us__contact-item-description {
    text-align: left;
    margin-left: 150px;

    &--adress {
      margin-left: 0;
    }
  }

  .about-us__contact-item-btn {
    display: block;
    position: absolute;
    bottom: 1px;
    right: 1px;

  }

  .about-us__item-description {
    display: block;
    width: 200px;
    text-align: left;
    padding-left: 150px;
    position: relative;
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 80px;
      height: 100px;
      background-position: center;
      background-repeat: no-repeat;
      left: 30px;
    }

    &--00::before {
      background-image: url("../img/about_icon_00.png");
    }
    &--01::before {
      background-image: url("../img/about_icon_01.png");
    }
    &--02::before {
      background-image: url("../img/about_icon_02.png");
    }
    &--03::before {
      background-image: url("../img/about_icon_03.png");
    }
  }
}