.wrapper {
  width: 276px;
  display: flex;
}

.list {
  width: 259px;
  list-style: none;
  height: 155px;
  box-sizing: border-box;
  padding: 0;
  font-size: 10px;
  margin: 0;
}

.list__wrapper {
  width: 259x;
  display: flex;
  overflow-y: hidden;
}

.list__item {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.baloon__img {
  width: 80px;
  height: 100%;
}

.baloon__info-wrapper {
  margin-left: 10px;
}

.baloon__title {
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
}

.baloon__price {
  margin: 0;
  margin-top: 10px;

  span {
    color: #23804b;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 280px;
  }

  .list {
    width: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
      color: #23804b;
    }
  }

  .list__wrapper {
    width: 280px;
  }
}