.main-header {
  position: relative;
}

.main-header__img {
  width: 80px;
}

.main-header__img-wrapper {
  text-align: center;
  padding-top: 20px;
  display: block;
}

.main-header__img-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.main-header__img-name {
  font-size: 24px;
  color: #43aa58;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.main-header__img-description {
  font-size: 16px;
  color: #6c6c6c;
  margin: 0 auto;
  width: 200px;
}

.main-header__contact-list {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.main-header__contact-item {
  &:first-child {
    display: none;
  }
}

.main-header__btn {
  display: none;
}

.main-header__link {
  font-size: 18px;
    span {
      font-size: 24px;
    }
}

@media (min-width: 768px) {
  .main-header__img {
    width: 105px;
  }

  .main-header__img-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;

    p {
      text-align: left;
    }
  }
  .main-header__img-description {
    width: auto;
  }

  .main-header__img-description-wrapper {
    margin-left: 30px;
    margin-right: 40px;
  }

  .main-header {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
  }


}

@media (min-width: 1170px) {
  .main-header {
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &::after {
      display: block;
      width: 1000%;
      height: 0;
      position: absolute;
      content: "";
      bottom: 0;
      left: -50%;
      border-bottom: 1px solid #818181;
      pointer-events: none;
    }
  }

  .main-header__img-wrapper {
    order: 1;
    padding-top: 0;
    margin-left: 0;
  }

  .main-header__img-title {
    color: black;
    letter-spacing: 3px;
  }

  .main-header__img-name {
    letter-spacing: 5px;
  }

  .main-header__img-description {
    letter-spacing: 3px;
  }

  .main-header__contact-list {
    display: flex;
    order: 2;
    width: 640px;
    justify-content: space-between;
  }

  .main-header__link {
    letter-spacing: 2px;
  }

  .main-header__contact-item {
    &:first-child {
      display: block;
      margin-left: 50px;
    }
  }

  .main-header__contact-title {
    color: #43aa58;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: left;
    margin: 0;
    position: relative;

    &::before {
      display: block;
      content: "";
      width: 19px;
      left: -40px;
      top: 3px;
      height: 19px;
      position: absolute;
      background: no-repeat center url("../img/layer25.png");
    }
  }

  .main-header__contact-description {
    letter-spacing: 2px;
    margin: 0;
  }

  .main-header__btn {
    display: block;
    background: none;
    border: none;
    border-bottom: 1px dashed black;
    font-size: 18px;
    padding: 0;
    margin-left: auto;
    margin-top: 15px;
    cursor: pointer;
    letter-spacing: 2px;
  }
}