
.main-menu__list {
  text-align: center;
  background-color: white;
  position: absolute;
  width: 100%;
  top: 110px;
  z-index: 10;

  &--hidden {
    display: none;
  }
}

.main_menu__item-link {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-menu__sub-item {
  a {
    font-size: 20px;
    color: #666666;
  }
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-menu__sub-list {
  display: none;
  background-color: #ebfff3;
  position: absolute;
}

.main-menu__item {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 20px;
}

.main-menu__btn {
  width: 50px;
  height: 50px;
  content: "";
  position: absolute;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: 0;
  top: 35px;
  right: 20px;

  &--open {
    background-image: url("../img/hamburger.png");
  }

  &--closed {
    background-image: url("../img/closed_menu.png");
  }
}

@media (min-width: 768px) {
  .main-menu__list {
    left: 0;
    top: 140px;
  }
}

@media (min-width: 1170px) {
  .main-menu {
    order: 0;
    width: 100%;
  }

  .main-menu__btn--open {
    display: none;
  }

  .main_menu__item-link {
    position: relative;
    padding: 20px 0;

    &::after {
      display: block;
      position: absolute;
      pointer-events: none;
      content: "";
      right: -20px;
      top: 25px;
      width: 9px;
      height: 6px;
      background: no-repeat center url("../img/arrown_down.png");
    }

    &:hover {
      color: #43aa58;
    }
  }

  .main-menu__list {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &::after {
      display: block;
      width: 1000%;
      height: 0;
      position: absolute;
      content: "";
      bottom: 0;
      left: -50%;
      border-bottom: 1px solid #818181;
      pointer-events: none;
    }
  }

  .main-menu__item {
    &:last-child {
      margin-right: 20px;
    }

    &:hover {
      .main_menu__item-link {
        color: #43aa58;
      }
      & > .main-menu__sub-list {
        display: block;
      }
    }
  }

  .main-menu__sub-list {
    width: 400px;
    z-index: 1;
    top: 65px;
  }

  .main-menu__sub-item {
    border-bottom: 1px solid #818181;

    &:hover {
      a {
        color: #43aa58;
      }
    }

    a {
      display: block;
    }
  }
}