.main-btn {
  padding-top: 18px;
  padding-bottom: 18px;
  background:linear-gradient(to right, #43aa59 0%, #21c57d 100%);
  border: none;
  display: block;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}