.news__btn {
  &--next {
    &::before {
      background-image: url("../img/arrow_right_grey.png");
    }
    &:hover::before {
      background-image: url("../img/arrow_right_green.png");
    }
  }

  &--back {
    &::before {
      background-image: url("../img/arrow_left_grey.png");
    }
    &:hover::before {
      background-image: url("../img/arrow_left_green.png");
    }
  }
}


.news__description {
  text-align: center;
  font-size: 20px;
  color: #6c6c6c;
  width: 270px;
  margin: 0 auto;
}

.news__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
    .color-green {
      font-size: 26px;
    }

    p {
      font-size: 18px;
      color: #6c6c6c;
    }
}


.news__list {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.news__item {
  border: 1px solid #e2e2e2;
  padding: 13px;
}

.news__item-img {
  img {
    width: 100%;
  }
}

.news__item-date {
  font-size: 18px;
  color: #6c6c6c;
}

.news__item-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #32b86b;
  font-weight: 700;
}

.news__item-description {
  font-size: 18px;
  color: #6c6c6c;
}

@media (min-width: 768px) {
  .news__description {
    width: 80%;
  }

  .news__list {
    width: 50%;
  }
}


@media (min-width: 1170px) {
  .news__title {
    padding-top: 140px;
    width: 40%;
    margin: 0;
  }
  .news__description {
    display: block;
    font-size: 20px;
    color: #6c6c6c;
    margin: 0;
    margin-bottom: 40px;
    width: 60%;
    text-align: left;
  }

  .news__list {
    width: 25%;
  }

  .news {
    position: relative;
  }

  .news__btn-wrapper {
    background-color: transparent;
    position: absolute;
    top: 140px;
    margin: 0 auto;
    width: 1170px;
    justify-content: flex-end;

  }
}