.people__btn {
  &--next {
    &::before {
      background-image: url("../img/arrow_right_grey.png");
    }
    &:hover::before {
      background-image: url("../img/arrow_right_green.png");
    }
  }

  &--back {
    &::before {
      background-image: url("../img/arrow_left_grey.png");
    }
    &:hover::before {
      background-image: url("../img/arrow_left_green.png");
    }
  }
}

.people {
  background-color: #ebfff3;
  padding-bottom: 30px;
}

.people__item {
  padding-top: 40px;
}

.people__item-img {
  width: 80%;
  margin: 0 auto;
  background-color: #f2f2f2;
  min-height: 200px;

  img {
    width: 100%;
  }
}

.people__title {
  margin-top: 0;
}

.people__description {
  text-align: center;
  font-size: 20px;
  color: #6c6c6c;
  width: 270px;
  margin: 0 auto;
}

.people__btn-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
    .color-green {
      font-size: 26px;
    }

    p {
      font-size: 18px;
      color: #6c6c6c;
    }
}

.people__list {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  margin-top: 40px;
}



.people__item-name {
  font-size: 22px;
  font-weight: 700;
  width: 200px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.people__item-position {
  font-size: 20px;
  color: black;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.people__item-description {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.people__item-phone {
  font-size: 18px;
  font-weight: 700;
  color: #32b86b;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}

.people__item-email {
  font-size: 18px;
  font-weight: 700;
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .people__item-img  {
    width: 50%;
  }

  .people__item-name {
    width: 80%;
  }
  .people__item-position {
    width: 80%;
  }
}

@media (min-width: 1170px) {
  .people__list {
    max-width: 1170px;
    background-color: transparent;
  }

  .people {
    margin-top: -71px;
    position: relative;
  }

  .people__btn-wrapper {
    background-color: transparent;
    position: absolute;
    top: 140px;
    margin: 0 auto;
    width: 1170px;
    justify-content: flex-end;

  }

  .people__item {
    padding-top: 0;
  }

  .people__title {
    padding-top: 140px;
    width: 40%;
    margin: 0;
  }
  .people__description {
    display: block;
    font-size: 20px;
    color: #6c6c6c;
    margin: 0;
    margin-bottom: 40px;
    width: 60%;
    text-align: left;
  }

  .people__item-wrapper {
    border: 5px solid #32b86b;
    position: relative;
    max-width: 1000px;
    background-color: white;
  }

  .people__item-img {
    max-width: 440px;
    position: absolute;
    top: 30px;
    right: -140px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }

  .people__item-name {
    width: auto;
    margin: 0;
    text-align: left;
    padding-left: 80px;
    padding-top: 90px;
    font-size: 26px;
  }

  .people__item-position {
    margin: 0;
    text-align: left;
    margin-left: 80px;
    max-width: 340px;
    padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px solid #e2e2e2;
  }

  .people__item-phone {
    margin: 0;
    text-align: left;
    margin-left: 80px;
    width: auto;
    justify-content: flex-start;
    margin-top: 40px;
  }

  .people__item-email {
    margin: 0;
    text-align: left;
    margin-left: 80px;
    width: auto;
    justify-content: flex-start;
  }

  .people__item-description {
    margin: 0;
    text-align: left;
    margin-left: 80px;
    max-width: 400px;
    margin-top: 40px;
    padding-bottom: 90px;
  }
}