.slider__btn {
  display: none;
  &--next {
    &::before {
      background-image: url("../img/arrow_right_white.png");
    }
    &:hover::before {
      background-image: url("../img/arrow_right_green.png");
    }
  }

  &--back {
    &::before {
      background-image: url("../img/arrow_left_white.png");
    }
    &:hover::before {
      background-image: url("../img/arrow_left_green.png");
    }
  }
}

.slider {
  position: relative;
}

.slider__item {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 880px;
  text-align: center;
  &:not(:first-child) {
    display: none;
  }

  &--00 {
    background-image: url("../img/slide_00.jpg");
  }
}

.slider__text {
  &--hight {
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin: 0;
    padding-top: 80px;
    line-height: 60px;
  }

  &--mid {
    font-size: 27px;
    color: white;
    font-weight: 700;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
  }

  &--low {
    font-size: 20px;
    color: white;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.slider__filter-sub-list {
  display: none;
}

.slider__filter-list {
  width: 90%;
  position: absolute;
  top: 360px;
  left: 5%;
}

.slider__filter-item {
  height: 70px;
  background-color: white;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  cursor: pointer;
    span {
      margin-left: 20px;
    }

    &:not(:last-child) {
      &::before {
        display: block;
        position: absolute;
        content: "";
        width: 9px;
        height: 6px;
        background-image: url("../img/arrown_down.png");
        right: 18px;
      }
    }
}
.slider__item-btn {
  width: 100%;
  cursor: pointer;
}